.addressTimeRates{
    padding-top: 10px;
    display: flex;
    column-count: 2;
    margin-left: 300px;
    margin-right: 300px;
    justify-content: space-evenly;
    column-gap: 20px;
    flex: 2;

}

.addressAndTime{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-evenly;
}
.addressText{
    font-size: 25px;
    padding-bottom: 20px;
    font-weight: bolder;

}
.time{
    display: flex;
    flex-direction: column;
}
.rates{
    font-size: larger;
}
.calculatedCost{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    text-align: center;
}

.totalCost{
    font-size: xx-large;
    font-weight: bold;
}
.remarks{
    font-size: xx-large;
    font-weight: bold;
}
.error{
    padding-top: 50px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.HDBRates{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    flex:2
}
.URASingleRate{
    border: 2px solid black;
}