.detailsAndYT{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
.detailsAndLinks{
    width: 30%;
    padding-right: 2rem;
}
.YT{
}

.communityReviews{
    margin-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}