.card{
    display: flex;
    border-bottom: 3px solid black;
}

.name_and_lots{
    border-color: black;
    width: 40%;
}
.view{
    border-color: black;
    border-right: solid;
    width: 30%;
}
.navigate{
    border-color: black;
    width: 30%;
}
.carparkName{
    color: #dddddd;
}
.availableLots{
    color: #999999;
}