@import '~antd/dist/antd.dark.css';
body {
    background-color: #41b3a3;
    font: 14px "Century Gothic", Futura, sans-serif;
}

.navigationPage{

}
.pageBody{
    padding: 25px 250px 150px;
}

.searchSection{
    display:flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.searchFilters{
    max-width:50%;
    min-width:500px;
    padding:2px;
    margin:3px;
    border-radius: 2px;
    float:  left;
    clear: left;
}

.destinationInput{
    max-width:20%;
    min-width:100px;
    padding:2px;
    margin:3px;
    border-radius: 2px;
    float:  left;
    clear: left;
}

.carparkSection{
    display: flex;
}

.carparks{
    padding-top: 45px;
    float: left;
    flex: 3;
    width: 30%;
    padding-left: 2rem;
}

.gMaps{
    float: right;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}
