.box{
    border-color: black;
    border-style: solid;
    border-bottom: none;
    width: 100%;
}
.carparkList{
    border-color: black;
    border-style: solid;
    border-bottom: none;
}
.disclaimer{
    color: #dddddd;
}